[Unit]
Description=xremap key remapper
After=graphical-session.target

[Service]
ExecStart=/usr/bin/xremap --watch --allow-launch true %h/.config/xremap/config.yml
Restart=always
RestartSec=2
StandardOutput=null
StandardError=journal

[Install]
WantedBy=default.target graphical-session.target
