@import "~/.local/state/theme/rofi.rasi"

* {
    /* Central Control: Typography & Modal Dimensions */
    font:                "Iosevka Nerd Font 13";
    modal-font:          "Noto Sans 15";
    modal-font-bold:     "Noto Sans Bold 15";
    modal-font-italic:   "Noto Sans Italic 14";
    modal-width:         720px;
    modal-radius:        8px;
    modal-padding:       14px;
}
